[submodule "containers/calendarbot"]
	path = containers/calendarbot
	url = https://codeberg.org/VicPetrov/CalendarBot
[submodule "containers/longhorn-volume-manager"]
	path = containers/longhorn-volume-manager
	url = https://github.com/molnia1311/longhorn-volume-manager.git
